[submodule "moderncpp"]
	path = moderncpp
	url = git@bitbucket.org:Tweakie/moderncpp.git
[submodule "cpp11training/dependencies/googletest"]
	path = cpp11training/dependencies/googletest
	url = git@github.com:Tweakie/googletest.git
